<%- include header%>
  <div class="formInput">
    <form method="GET" action="/result">
      <input type="number" name="cotacao" placeholder="Cotação dolar" step=0.01 required>
      <input type="number" name="quantidade" placeholder="Quantidade dolares" step=0.01 required>
      <button>Converter</button>
    </form>
  </div>
  <% if (error) {%>
    <h2><%-error%></h2>
  <%} else {%> 
    <div class="result">
      <ul>
        <li>Valor da cotação do Dolár: <span>R$ <%-result.valueCotacao %></span></li>
        <li>Valor em Dolár: <span>USD <%- result.valueQuantidade %></span></li>        
        <li>Valor em Reais: <span>R$ <%- result.resultado%></span></li>
      </ul>
    </div>
  <%}%>

<%- include footer%>